:root {

}
html {

}






/* Inicio toggle menu */

.menu{
    position:fixed;
    top: 60%;
    width:200px;
    height:200px;
    right: 0px;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 3;
  }
  .menu .toggle{
    position:relative;
    height:60px;
    width:60px;
    background: var(--color7);
    border-radius:50%;
    box-shadow: 0px 0px 20px 0px var(--color3);
    display:flex;
    align-items:center;
    justify-content:center;
    color:#333;
    font-size:2rem;
    cursor:pointer;
    transition:1.25s;
    z-index:5;
    transition: ease 0.3s; 
}

  .menu.active .toggle{
    transform:rotate(360deg);
    box-shadow: 0px 0px 20px 0px var(--color6);
    transform: scale(1.08);
    transition: ease 0.3s;
  }
  .menu li{
    position:absolute;
    left:0;
    list-style:none;
    transition:0.5s;
    transform:rotate(calc(360deg/8 * var(--i)));
    transform-origin:140px;
    scale:0;
    transition-delay: calc(0.06s * var(--i));
    
  }
  .menu.active li{
    scale:0.9; /*Tamaño*/
  }
  .menu li a{
    position:relative;
    display:flex;
    transform:rotate(calc(360deg/-8 * var(--i)));
    width:60px;
    height:60px;
    background-color:#FFF;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    font-size:1.75rem;
    color:var(--color11);
    box-shadow: 0px 0px 20px 0px var(--color3);
    transition:0.5s;

  }
  .menu li:hover a{
    font-size:2.5rem;
    box-shadow: 0px 0px 20px 0px var(--color6);
  }

/* fin toggle menu */

/*Inicio de style para cards*/

.cardM {
    box-sizing: border-box;
    display: flex;
    max-width: 300px;
    height: 200px;
    background-color: #fefae8;
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .cardM:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.081);
  }
  
  .date-time-container {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 0.5rem;
  }
  
  .date-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 1rem;
    gap: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(17, 24, 39, 1);
  }
  
  .separator {
    width: 1px;
    flex: 1 1 0%;
    background-color: rgba(17, 24, 39, 0.1);
  }
  
  .content {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .infos {
    border-left: 1px solid rgba(17, 24, 39, 0.1);
    padding: 1rem;
    overflow: hidden;   
  }
  
  .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18.72px;
    color: #423606;
  
  }

  a {
    color: #856d0e;
  }
  
  .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 5;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(55, 65, 81, 1);
    word-wrap: break-word;
    overflow: hidden;
  }
  
  .action {
    display: block;
    background-color: rgba(253, 224, 71, 1);
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(17, 24, 39, 1);
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .action:hover {
    background-color: rgba(250, 204, 21, 1);
  }

/*Fin de style para cardMs*/
